<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Type Your Text</title>
  <style>
    h1 {
      text-align: center;
    }

    h3 {
      margin-top: 0rem;
      text-align: center;
    }

    body {
      font-family: Lato;
    }

    a {
      text-decoration: none;
      color: #777;
    }
  </style>
</head>

<body>
  <h1>TGR2020: Type Your Text</h1>
  <h3>Thai-Nichi Institute of Technology</h3>
</body>

</html>